<p id="notice"><%= notice %></p>
<%= image_tag @post.featured_image.variant(resize: "250x250") %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description.html_safe %>
</p>

<%= link_to 'Edit', edit_organization_post_path(@organization,@post) %> |
<%= link_to 'Back', organization_posts_path(@organization) %>
